
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{font-family: 'Montserrat', sans-serif;}
p,h1,h3,h4,i,h2,h5,h6,span,a,li {
	color:black;
font-family: 'Montserrat', sans-serif;
}

/*.header_cont {
    display: flex;
    flex-wrap: wrap;
} */
nav {
	justify-content: flex-end!important;
}

.options {
	display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.options.options_entry
{
	justify-content: flex-end;
}

ul.menu {
    list-style: none;
    display: flex;
    justify-content: end;
    width: auto;
    height: 50px;
}

ul.menu li {
    padding: 0px 10px;
}

header {
    text-align: left;
    width: 50%
}


@media (max-width: 600px) {
  	.image_cont{
  		width: 100%;
  	}
	.image_cont figure {
    	text-align: center;
	}
  	header{
  		width: 100%;
  	}
}

.header img {
  float: left;
  width: 100px;
  height: 120px;
 
}

.header h3 {
position: relative
left: 40px;
font-style: italic;
font-size: 15px;
}

.header h4 {
float: center;
  margin: 0 6%;
  width: 89%;
}

.header_cont >div {
    width: 100%;
    border: 10px solid #EBF10F;
    font-family: source sans Pro, sans serif;
    padding: 20px;
    max-width: 900px;
    height: 100%;
    margin: auto;
    background: url(assets/rc.png);
    background-repeat: no-repeat;
    background-position-y: 110%;
    background-size: contain;
}

.header_cont
{

	padding: 20px;
	height: 100vh;
}


.intro {
    position: absolute;
    width: 100%;
    margin: 0px;
    top: 0px;
}

@media (min-width: 600px) { 
	.intro {
	    position: absolute;
	    width: 100%;
	    margin: 0px;
	    top: -50px;
	} 

}

.header_cont .row {
	position: relative;
}

.header_cont.entry_cont
{
	height: 100%;
}

.header_cont.entry_cont >div {
	background: none
}

.header_cont.entry_cont h1 {
	margin: 0px 10px;
}

.entry_cont p {
	text-align: justify;
}

.subtittle_post {

}

.description_post {

}

.description_post img {
	width: 60%;
    margin: 0px 150px;
}

img.description_art {
	width: 60%;
    margin: 0px 150px;
}

img.description_ai {
	width: 100%;
    margin: 0px 0px;
}

.journal{
	max-width: 900px;
	margin: auto;
}

.journal-entry {
    cursor: pointer;
    margin-top: 40px;
}

.journal-entry img {
    width: 100%;
    transition: .5s
}

img.post_main_photo {
	width: 100%;
	margin: 0px 0px;
    transition: .5s
}

.journal-entry p {
	text-align: left;
	margin: 25px 20px;
	font-size: 13px
}


.journal >div>h3 {
    text-align: center;
}


.post-col-left {
    position: relative;
}

.post-col-left h4 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #ebf10f73;
    padding: 10px 10px;
    z-index: 99;
    transition: 0.5s;
    margin: 0px;
    
}

.journal-entry:hover .post-col-left h4 {
    background: #EBF10F;
    transition: 0.5s;
}

.journal-entry:hover .post-col-left img {
    transform: scale(1.2);
    transition: 0.5s;
    z-index: -1;
}

body {
	
	}

header{

	
}

	.blog
	{
	}
	.term
	{
	color: white
	}
	.paragraph
	{
		border-left: 5px solid #EBF10F;
		padding-left: 5px;
		
	}
	
	hr{
	border-top: 1px solid #EBF10F;
	border-bottom: 1px solid #EBF10F;
	}

	a{
		text-decoration: none;
	    color: black;
	    transition: 1s;
	}
	a:hover {
	    color: black;
	    background: #EBF10F;
	    padding: 10px 20px;
	    transition: 1s;
	    text-decoration: none!important;

	}

.timeline>div:nth-child(odd){
	border-right: 3px solid #EBF10F ;	
	position:relative;
	font-size: 10px
}

.timeline>div:nth-child(odd):before {
	content: "";
	position: absolute;
	width: 20px ;
	height: 20px;
	background: black;
	top: 0px;
    right: -12px;
    border-radius: 100px;
}

.col-sm-6 {
	font-size: 10px
}


   

	




	